*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
  }
  #container {
    width: 800px;
    height: 600px;
    position: relative;
    background-color: lightblue;
    margin: auto;
    margin-top: 60px;
  }
  #ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
  } 