*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buttons{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
}
.buttons input{
    width: 50%;
    height: 10vh;
    background-color: yellow;
    font-size: 25px;
}
.buttons input:hover{
    background-color: aqua;
}
.buttons input:active{
    background-color: rgb(21, 122, 122);
}
.box{
    width: 10%;
    background-color: red;
    border: 1px solid black;
    height: 200px;
    color: white;

}
.elements{
    display: flex;
    flex-wrap: wrap;
}
.inputs{
    position: fixed;
    bottom: 11vh;
}