*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}
h1{
    text-align: center;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    color: white;
}
tr{
    width: 70%;
}
td{
    border: 2px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    
}
th{
    height: 50px;
}
th{
    border: 2px solid black;
    
}
tr td:first-child{
    background-color:   rgb(9, 116, 29);
    text-decoration: ;
}
th{
    background-color: rgb(9, 116, 29);
}
.time{
    background-color: white;
    color: black;
}
#generate{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
    background-color: blue;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 20px;
  
}
.food{
    color: black;
}