<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="extra.css">
</head>
<body>
    <div class="main">
        <div class="clear">
            CLEAR
        </div>
        <div class="chosen">
            <!-- <div class="rasm one">1</div>
            <div class="rasm two">2</div>
            <div class="rasm three">3</div>
            <div class="rasm four">4</div>
            <div class="rasm five">5</div>
            <div class="rasm six">6</div>
            <div class="rasm seven">7</div>
            <div class="rasm eight">8</div>
            <div class="rasm nine">9</div>
            <div class="rasm ten">10</div>
            <div class="rasm eleven">11</div> -->
          
        </div>
   
    </div>
    <a href="../index.html"><button>BACK</button></a>
    <script src="app.js"></script>
</body>
</html>