*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}
.main{
    /* background-color: wheat; */
    width: 80% ;
    height: 100vh;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.clear{
    height: 15%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    cursor: pointer;
}
.chosen{
    background-color: white;
    height: 85%;
    position: relative;
}

.rasmlar{
    width: 100%;
    display: flex;
    

    flex-wrap: wrap;
}
.rasm{
    width: 10%;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    position: relative;

}
button{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left:700px;
    cursor: pointer;
    border-radius: 10px;
}
.chosen{
    display: flex;

}
.rasm .picture{
    width: 100px;
    display: none;

}
.one{
    background-image: url(../photos/anjir.jpg);
}
.picture{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}