*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maydon{
    border: 5px solid red;
    height: 100vh;
}
.car{
    width: 100px;
    transition: 0.1s;
    position: absolute;
    
}
.car2{
    width: 100px;
    position: absolute;
    margin-left: 50px;
}