<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="main">
        <a href="index0.html"><button class="birinchi topshiriq">1-Topshiriq</button></a>
        <a href="index1.html"><button class="ikkinchi topshiriq">2-Topshiriq</button></a>
        <a href="index2.html"><button class="uchinchi topshiriq">3-Topshiriq</button></a>
        <a href="index3.html"><button class="tortinchi topshiriq">4-Topshiriq</button></a>
        <a href="index4.html"><button class="beshinchi topshiriq">5-Topshiriq</button></a>
    
    </div>
    
    <div class="display">
        <h1>2. Click Increase And Decrease</h1>
        <p class="mix">0</p>
        <button  class="oshir">Oshirish</button>
        <button class="kamaytir">Kamaytirish</button>
    </div>
    
    <script src="../json/app1.js"></script>
</body>
</html>